.img {
   text-align: center;
   padding-bottom: 30px;
}

.news{
    padding-left: 20%;
    padding-right: 20%;
}

.casos{
    padding-top: 10px;
    padding-bottom: 5%;
}

.center{
    padding-left: 20%;
    padding-right: 20%;
}

.imginit{
    text-align: center;
   padding-bottom: 30px;
}
h1{
    text-align: center;
}

.tagmid{
    text-align: center;
}

div.embed-responsive {
    min-width: 100vw;
    min-height: 80vh;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .tabelas{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
   padding-bottom: 30px;
   padding-top: 60px;
  }

  .cabeca{
      text-align: center;
      padding-top: 25px;
  }


@media screen and (max-width: 767px) {

    Classedasuaimagem{
    Width: 100%;
    Height: auto;
    
    } 
    
}
