.img {
   text-align: center;
   padding-bottom: 30px;
}

.news{
    padding-left: 20%;
    padding-right: 20%;
}

.casos{
    padding-top: 10px;
    padding-bottom: 5%;
}

.center{
    padding-left: 20%;
    padding-right: 20%;
}

.imginit{
    text-align: center;
   padding-bottom: 30px;
}
h1{
    text-align: center;
}
